/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&family=Comfortaa:wght@300;400;600&family=Pacifico&family=Caveat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Caveat', cursive; 
    font-size: 18px;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 18px 5%;
    background: #fff;
    box-shadow: 0px 4px 6px #5a67d8;
}

.logo {
    font-size: 45px;
    font-weight: 600;
    color: #5a67d8;
    margin-right: auto; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
    padding: 0;
}

nav ul li a {
    color: #333;
    font-weight: 500;
    transition: 0.3s;
    font-size: 20px;
}

nav ul li a:hover,
nav ul li a.active {
    color: #5a67d8;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 135px 5%;
}

.hero-content {
    font-size: 30px;
    text-align: left; 
    max-width: 50%;
}

.chat-btn {
    display: inline-block;
    padding: 12px 25px;
    background: #5a67d8;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 20px; 
}

.chat-btn:hover {
    background:#434190;
}

.hero img {
    width: 800px;
}


section {
    padding: 15px 5%;
    text-align: center;
}

section.about, section.how-it-works, section.privacy{
    background-color: #ffffff;
    padding: 10px 5%;
    
}

h1{
    font-family: "Garamond", "Palatino Linotype", "Book Antiqua", serif;
    font-size: 70px;
}

h2 {
    text-align: center;
    font-size: 50px;
    /* font-family: 'Caveat', cursive; */
    font-family: "Garamond", "Palatino Linotype", "Book Antiqua", serif;
    margin-bottom: 25px;
    color: #5a67d8;
}


.feature-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(90, 103, 216, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 250px;
    font-size: 15px;
    border-top: 5px solid #5a67d8;
}

.feature h3 {
    color: #5a67d8;
}

.feature:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 18px rgba(90, 103, 216, 0.35);
}

footer {
    text-align: center;
    padding: 15px;
    background: #4d4a4a;
    color: #fff;
    font-size: 18px;
}

